
body {
    background-color: lightblue;
    display: flex;
    flex-direction: column;
    align-items: stretch;
}

#calc-screen {
    min-width: 200px;
    min-height: 45px;
    background-color: white;
    color: black;
    margin: auto;
    font-size: 35px;
    text-align: center;
    padding: 5px 5px 5px 5px;
    margin-bottom: 10px;
    margin-top: 30px;
    flex: 1;
}

#buttons{
    width: 200px;
    margin: auto;
}

button:active, .buttonActive{
    background-color: whitesmoke;
    transition: all 0.5s;
}

.number {
    width: 40px;
    height: 40px;
}

#Clear{
    width: 80px;
    height: 40px;
}

.operation, #Equals {
    width: 32px;
    height: 32px;
    font-size: 16px;
}

#buttons, #buttons-number, #buttons-operations, #buttons-core {
    display: flex;
    justify-content: center;
}

#buttons-number, #buttons-operations, #buttons-core {
    flex-wrap: wrap;
}